<% @page_title = "Help" %>

<h1><%= @page_title %></h1>

<div class="help row">
    <div class="col-md-4">
        <h2>Email</h2>
        <p>We offer e-mail support in English and our avarage response time is 6h.</p>
        <p><%= mail_to "support@beacontoolbox.com", "support at beacontoolbox.com", encode: "javascript" %></p>
    </div>

    <div class="col-md-4">
        <h2>FAQs</h2>
        <p>Check out our most frequent questions for a fast answer to your questions.</p>
        <p><%= link_to("access frequent questions", {:controller => 'faq_groups', :action => 'public'}) %></p>
    </div>

    <div class="col-md-4">
        <h2>Social</h2>
        <p>Give us a ping on the networks we love. Join our conversation about iBeacons.</p>
        <p><%= link_to("GitHub", "http://github.com/BeaconToolbox", :target => "_blank") %> - <%= link_to("Twitter", "http://twitter.com/BeaconToolbox", :target => "_blank") %> - <%= link_to("Google Plus", "https://plus.google.com/106676258278144195992", :target => "_blank") %></p>
    </div>
</div>