<%- model_class = Content -%>
<div class="page-header">
  <h1>Mostrando <%= "#{@content.title}" %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Título:</strong></dt>
  <dd><%= @content.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:permalink) %>:</strong></dt>
  <dd><%= @content.permalink %></dd>
  <dt><strong>Posição:</strong></dt>
  <dd><%= @content.position %></dd>
  <dt><strong>Publicado?:</strong></dt>
  <dd><%= @content.published %></dd>
  <dt><strong>Modificado por:</strong></dt>
  <dd><%= @content.modified_by %></dd>
  <dt><strong>Criado por:</strong></dt>
  <dd><%= @content.created_by %></dd>
  <dt><strong>Conteúdo:</strong></dt>
  <dd><%= @content.body.html_safe %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_content_path(@content), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              content_path(@content),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
