<%= error_messages_for(@faq) %>

  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:position, 1..@faq_count, {}, {:class => 'form-control'}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :published, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box(:published) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :faq_group_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:faq_group_id, @groups.map {|g| [g.title, g.id]}, {}, {:class => 'form-control'}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :question, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <%= tinymce %>
    <div class="controls">
      <%= f.text_area :answer, :class => "tinymce", :rows => 40, :cols => 120 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                faqs_path(:faq_group_id => group.id), :class => 'btn' %>
  </div>
