<%- model_class = Faq -%>
<div class="page-header">
  <h1><%=t '.title', :default => "FAQs" %></h1>
  <h3><%= @group.title %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:published) %></th>
      <th><%= model_class.human_attribute_name(:question) %></th>
      <th><%= model_class.human_attribute_name(:answer) %></th>
      <th><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span></th>
      <th><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if @faqs.count > 0 %>
      <% counter = 0 %>
      <% @faqs.each do |faq| %>
        <% counter += 1 %>
        <tr>
          <td><%= link_to counter, faq_path(faq, :faq_group_id => @group.id) %></td>
          <td>
            <span class="badge"><%= faq.position %></span>
            <%= link_to '<span class="glyphicon glyphicon-chevron-up"></span>'.html_safe, {:action => 'move_up', :id => faq.id, :faq_group_id => @group.id} unless faq.first? %>
            <%= link_to '<span class="glyphicon glyphicon-chevron-down"></span>'.html_safe, {:action => 'move_down', :id => faq.id, :faq_group_id => @group.id} unless faq.last? %>
          </td>
          <td><%= status_tag(faq.published, {:true_text => "YES", :false_text => "NO"}) %></td>
          <td><%= truncate(strip_tags(faq.question), length: 40, separator: ' ') %></td>
          <td><%= truncate(strip_tags(faq.answer), length: 40, separator: ' ') %></td>
          <td><%= faq.useful_yes %></td>
          <td><%= faq.useful_no %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        faq_path(faq, :faq_group_id => @group.id), :class => 'btn btn-mini' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_faq_path(faq, :faq_group_id => @group.id), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        faq_path(faq, :faq_group_id => @group.id),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <td colspan="8" class="text-center">No questions found for this group</td>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.cancel', :default => t("helpers.links.back")),
                  faq_groups_path, :class => 'btn' %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_faq_path(:faq_group_id => @group.id),
              :class => 'btn btn-primary' %>
</div>
