<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <%= link_to("CocoaHeads BR", {:controller => 'access', :action => 'index'}, :class => 'navbar-brand') %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= item_nav_link "Dashboard", {:controller => 'access', :action => 'index'} %>
        <%= dropdown_nav_link('admin_users', {:class => 'dropdown'}) %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conte&uacute;do <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= admin_nav_link "Criar novo", {:controller => 'contents', :action => 'new'} %>
            <%= admin_nav_link "Listar todos", {:controller => 'contents', :action => 'index'} %>
          </ul>
        </li>
        <%= dropdown_nav_link('admin_users', {:class => 'dropdown'}) %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários Admins <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= admin_nav_link "Criar novo", {:controller => 'admin_users', :action => 'new'} %>
            <%= admin_nav_link "Listar todos", {:controller => 'admin_users', :action => 'index'} %>
          </ul>
        </li>
        <%= dropdown_nav_link('agendas', {:class => 'dropdown'}) %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agenda <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= admin_nav_link "Criar nova", {:controller => 'agendas', :action => 'new'} %>
            <%= admin_nav_link "Listar todas", {:controller => 'agendas', :action => 'index'} %>
          </ul>
        </li>
        <%= dropdown_nav_link('cidades', {:class => 'dropdown'}) %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cidades <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= admin_nav_link "Criar nova", {:controller => 'cidades', :action => 'new'} %>
            <%= admin_nav_link "Listar todas", {:controller => 'cidades', :action => 'index'} %>
          </ul>
        </li>
        <%= item_nav_link "Podcast", {:controller => 'podcasts', :action => 'index'}, 'podcast' %>
        <%= item_nav_link "Vídeos", {:controller => 'palestrantes', :action => 'index'}, 'videos' %>
        <%= item_nav_link "Fotos", {:controller => 'fotos', :action => 'index'}, 'fotos' %>
        <%= item_nav_link "Downloads", {:controller => 'downloads', :action => 'index'}, 'downloads' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li><p class="navbar-text">Logado como <%= session[:username] %></p></li>
        <% 
          admin_user = AdminUser.find(session[:user_id])
        %>
        <li><%= link_to image_tag(admin_user.gravatar_url, :size => "40x40", :class => 'img-circle'), {:controller => "admin_users", :action => 'edit', :id => session[:user_id]}, :class => 'user-thumb' %></li>
        <li><%= link_to("Sair", {:controller => 'access', :action => 'logout'}) %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>