<% @page_title = "Admin Menu" %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bem vindo a bordo!</h1>
        <p>Este &eacute; o backend administrativo do website do CocoaHeads BR. A ideia aqui &eacute; que voc&ecirc; possa administrar tudo sem precisar escrever c&oacute;digo. Sim, sim. Voc&ecirc; &eacute; um developer, mas nem por isso precisa perder tempo escrevendo HTML sendo que poderia escrever Objective-C! Ent&atilde;o m&atilde;os a obra!</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Newsletter</h2>
          <p>Temos atualmente <strong><%= Subscription.all.count %></strong> usu&acute;rios inscritos em nossa newsletter. <strong><%= Subscription.last_week.count %></strong> s&oacute; na &uacute;ltima semana.</p>
          <p><%= link_to "View details &raquo;".html_safe, {:controller => 'subscriptions', :action => 'index'}, :class => 'btn btn-default', :role => 'button' %></p>
        </div>
        <div class="col-md-4">
          <h2>Conte&uacute;do</h2>
          <p>Gerencie todos o conte&uacute;do est&aacute;tico do projeto utilizando um editor WYSIWYG.</p>
          <p><%= link_to "View details &raquo;".html_safe, {:controller => 'contents', :action => 'index'}, :class => 'btn btn-default', :role => 'button' %></p>
       </div>
        <div class="col-md-4">
          <h2>Perguntas</h2>
          <p>Gerencie a se&ccedil;&atide;o FAQ criando novos grupos de quest&otilde;es e perguntas/respostas.</p>
          <p><%= link_to "View details &raquo;".html_safe, {:controller => 'faq_groups', :action => 'index'}, :class => 'btn btn-default', :role => 'button' %></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Logics &copy; <%= Time.new.year %></p>
      </footer>
    </div> <!-- /container -->