<% @twitter_description = @video.titulo + " por " + @video.palestrante.nome if !@video.palestrante.nil? %>
<% @page_title = @video.titulo %>

<h1>Vídeos</h1>
<% if @video.titulo %>
	<h3><%= @video.titulo %><%= " por " + @video.palestrante.nome if !@video.palestrante.nil? %></h3>
<% end %>

<div class="video_detalhes">
	<%= render :partial => "videos/embed_youtube", :locals => {:video => @video} %>
	<h2><%= @video.titulo %></h2>
	<div class="video">
		<%= content_tag(:div, "Vídeo gravado no " + @video.agenda.nome + " (" + @video.agenda.data.strftime("%d/%m/%Y") + ")", :class => "agenda_nome") if @video.agenda %>

		<%= content_tag(:div, :class => "descricao") do 
			concat @video.descricao.html_safe
			concat content_tag(:div, render123_tags(@video.tags), :class => "tags")
		end %>

		<%= link_to "Baixar source code utilizado na talk", @video.source, {:class => 'btn btn-default', :target => :blank} if !@video.source.blank? %>
	</div>

	<h2>CocoaSpeaker</h2>
	<div class="palestrante">
		<div class="avatar"><%= image_tag @video.palestrante.gravatar_url, :size => "160x160", :class => 'img-circle avatar' %></div>
		<div class="detalhes">
			<%= content_tag(:div, @video.palestrante.nome, :class => "nome") %>
			<%= content_tag(:div, @video.palestrante.mini_curriculo, :class => "curriculo") if @video.palestrante.mini_curriculo? %>
			<%= link_to "Twitter", @video.palestrante.twitter, {:class => 'btn btn-default btn-xs', :target => :blank} if !@video.palestrante.twitter.blank? %>
			<%= link_to "Website", @video.palestrante.website, {:class => 'btn btn-default btn-xs', :target => :blank} if !@video.palestrante.website.blank? %>
			<%= link_to "Github", @video.palestrante.github, {:class => 'btn btn-default btn-xs', :target => :blank} if !@video.palestrante.github.blank? %>
			<%= link_to "LinkedIn", @video.palestrante.linkedin, {:class => 'btn btn-default btn-xs', :target => :blank} if !@video.palestrante.linkedin.blank? %>
		</div>
		<div class="brclear">&nbsp;</div>
	</div>
</div>