<% @titulo = "Vídeos" %>
<% @subtitulo = "Cocoatalks gravadas nos encontros CocoaHeads" %>
<div class="videos">
<% if @videos.count > 0 %>
<% @videos.each do |v| %>
	<div class="video">
		<div class="palestrante"><%= image_tag v.palestrante.gravatar_url, :size => "100x100", :class => 'img-circle avatar' %></div>
		<div class="detalhes">
			<%= content_tag :div, v.titulo, :class => "titulo" %>
			<%= content_tag(:div, content_tag(:span, "Palestrante: ", :class => 'rotulo') + v.palestrante.nome, :class => "nome") %>

			<%= content_tag(:div, content_tag(:span, "Evento: ", :class => 'rotulo') + v.agenda.nome + " (" + v.agenda.data.strftime("%d/%m/%Y") + ")", :class => "agenda_nome") if v.agenda %>


			<%= content_tag :div, render123_tags(v.tags), :class => "tags" %>
			<%= link_to "Assistir vídeo", {:action => :assistir, :video_id =>  v.id}, {:class => 'btn btn-default'} %>
			<%= link_to "Código-fonte", v.source, {:class => 'btn btn-default', :target => :blank} if !v.source.blank? %>
		</div>
		<div class="brclear">&nbsp;</div>
	</div>
<% end %>
<% else %>
	<div class="zero-videos">Nenhum vídeo publicado. Aguarde. <span class="smile">;)</span></div>
<% end %>
</div>