<div id="<%= arrow[:id] %>" class="arrow" style="left: <%= arrow[:box_rect][:left].to_i %>px; top: <%= arrow[:box_rect][:top].to_i %>px; height:<%= arrow[:box_rect][:height].to_i %>px; width:<%= arrow[:box_rect][:width].to_i %>px">
	<%= arrow[:image] %>
	<div style="top:<%= arrow[:text_rect][:top].to_i %>px; left:<%= arrow[:text_rect][:left].to_i %>px;"><%= arrow[:text] %>
	</div>
</div>