<% ativaClass =  @agenda.antiga? ? 'inativa' : 'ativa' %>
<% dias_restantes = (Time.zone.now -  @agenda.data).abs.to_i / 1.day %>
<div class="agenda-detalhes push-left <%= ativaClass %>">
	<div class="nome"><%= '<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;'.html_safe if  @agenda.antiga? %><%=  @agenda.nome %></div>
	<div class="capitulo"><span>Capítulo: </span> <%=  @agenda.descritivo_curto %></div>
	<div class="data"><span>Data do evento: </span> <%=  @agenda.data.strftime("%d/%m/%Y") %><%= " (em #{pluralize(dias_restantes, "dia", "dias")})" if ! @agenda.antiga? %></div>
	<div class="horario"><span>Horário: </span> <%=  @agenda.horario %></div>
	<div class="local"><span>Local: </span> <%=  @agenda.local %></div>
	<div class="local-endereco"><span>Endere&ccedil;o: </span> <%=  @agenda.endereco %></div>
	<div class="descricao"><%=  @agenda.descricao.html_safe %></div>

	<%= link_to "Ver no mapa", {:action => :maps, :id =>  @agenda.id}, {:class => 'btn btn-default'} %>
	<%= link_to "Baixar Passbook", @agenda.passbook, {:class => 'btn btn-default'} if !@agenda.passbook.blank?
	 %>
	<%= link_to "Baixar iCal", {:action => 'export', :format => 'ics', :id => @agenda.id}, {:class => 'btn btn-default'} %>
	<%= link_to "Ver Fotos", {:controller => :fotos, :action => :detalhes, :id =>  @agenda.id}, {:class => 'btn btn-default'} if @agenda.fotos.count > 0 %>
	<%= link_to "Ver Vídeos", {:controller => :videos, :action => :colecao, :album_id =>  @agenda.id}, {:class => 'btn btn-default'} if @agenda.videos.count > 0 %>
</div>