<%= error_messages_for(@cidade) %>
<div class="form-group">
  <%= f.label :cidade, :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.text_field :cidade, :class => 'text_field form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :estado_id, :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.select(:estado_id, estados.map {|e| [e.nome, e.id]}, {}, {:class => 'form-control'}) %>
  </div>
</div>
<div class="form-group">
  <%= f.label :organizador, :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.text_field :organizador, :class => 'text_field form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :organizador_email, "Email do organizador", :class => 'control-label col-md-2', :placeholder => "Email usado no Gravatar.com. Este email não é divulgado para o público." %>
  <div class="col-md-10">
    <%= f.text_field :organizador_email, :class => 'text_field form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :organizador_contato, "Contato do organizador", :class => 'control-label col-md-2', :placeholder => "Contato para ser divulgado publicamente. Pode ser URL do Twitter, FB, etc." %>
  <div class="col-md-10">
    <%= f.text_field :organizador_contato, :class => 'text_field form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, "Email do capítulo", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.text_field :email, :class => 'text_field form-control', :placeholder => "nome_da_cidade@cocoaheads.com.br" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :website, "Website do capítulo", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.text_field :website, :class => 'text_field form-control', :placeholder => "padrão: cocoaheads.com.br" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :github, "Github do capítulo", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.text_field :github, :class => 'text_field form-control', :placeholder => "padrão: github.com/cocoaheadsbr" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :twitter, "Twitter do capítulo", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.text_field :twitter, :class => 'text_field form-control', :placeholder => "padrão: twitter.com/cocoaheadsbr" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :facebook, "Facebook do capítulo", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.text_field :facebook, :class => 'text_field form-control', :placeholder => "padrão: facebook.com/cocoaheadsbr" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :published, "Publicado?", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.check_box(:published, :class => 'text_field form-control') %>
  </div>
</div>
<div class="form-group">
  <%= tinymce %>
  <%= f.label :descricao, "Descrição", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.text_area :descricao, :class => "tinymce", :rows => 30, :cols => 120 %>
  </div>
</div>

<div class="form-group">
  <div class='col-md-offset-2 col-md-10'>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                {:action => :index}, :class => 'btn btn-default' %>
  </div>
</div>
