<% @titulo = "Cidades" %>
<% @subtitulo = "Todos os capítulos CocoaHeads pelo Brasil" %>

<div class="cidade-detalhes">
	<div class="detalhe nome"><%=  @cidade.nome_do_capitulo %></div>
	<div class="detalhe estado">Estado de <%=  @cidade.estado.nome %></div>
	<div class="detalhe organizador"><span>Organizador: </span> <%= @cidade.organizador_contato.blank? ? @cidade.organizador : link_to(@cidade.organizador, @cidade.organizador_contato) %></div>
	<div class="detalhe email"><span>Email oficial: </span><%=  mail_to @cidade.email %></div>
	<div class="detalhe links">
		<%= link_to "Website", @cidade.website, {:class => 'btn btn-default', :target => :blank} if @cidade.has_website? %>
		<%= link_to "Github", @cidade.github, {:class => 'btn btn-default', :target => :blank} if !@cidade.github.blank? %>
		<%= link_to "Twitter", @cidade.twitter, {:class => 'btn btn-default', :target => :blank} if !@cidade.twitter.blank? %>
		<%= link_to "Facebook", @cidade.facebook, {:class => 'btn btn-default', :target => :blank} if !@cidade.facebook.blank? %>
	</div>

	<div class="detalhe descricao">
		<%= @cidade.descricao.blank? ? content_tag(:span, "Nenhuma descrição informada", class: "off") : @cidade.descricao.html_safe %>
	</div>
</div>