<%= error_messages_for(@foto) %>
  <div class="form-group">
      <%= f.label :agenda_id, "Agenda", :class => 'control-label col-md-2' %>
      <div class="col-md-10">
          <%= f.select(:agenda_id, [["Escolha uma agenda", '']] + agendas.map {|a| [a.descritivo, a.id]}, {}, {:class => 'form-control'}) %>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :flickr_album_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :flickr_album_id, :class => 'text_field form-control', :placeholder => "ID do album no Flickr. Ex.: 72157644045626843" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :published, "Publicado?", :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box(:published, :class => 'text_field form-control') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :descricao, "Fotógrafo", :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :descricao, :class => 'text_field form-control', :placeholder => "Nome do fotógrafo ou fotógrafa" %>
    </div>
  </div>
  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  {:action => :index}, :class => 'btn btn-default' %>
    </div>
  </div>