<%- model_class = Video -%>
<div class="page-header">
  <h1>Podcasts</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:soundcloud_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>Data de cria&ccedil;&atilde;o</th>
      <th>Link iTunes?</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
        <td><%= podcast.id %></td>
        <td><%= podcast.soundcloud_id %></td>
        <td><%= podcast.title %></td>
        <td><%= podcast.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= if podcast.itunes_url.blank? then "N" else "S" end %></td>

        <td>
          <%= link_to podcast_path(podcast), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
          <%- end -%>
          
          <%= link_to edit_podcast_path(podcast), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
            <%= glyph 'pencil' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
