<% @titulo = "Podcasts" %>
<% @subtitulo = "Os podcasts são gravados todas as semanas, e vão ao ar na terça-feira." %>

<% @page_title = @titulo %>

<% @og_protocol = {} %>
<% @og_protocol[:title] = @titulo %>
<% @og_protocol[:description] = @subtitulo %>

<div class="podcasts">
<% if @podcasts.count > 0 %>
<% @podcasts.each do |podcast| %>
	<div class="podcast">
		<div class="detalhes">
			<%= link_to content_tag(:div, podcast.title, :class => "titulo"), {:action => :detalhes, :id =>  podcast.id} %>
			<%= content_tag(:div, content_tag(:span, "Data: ", :class => 'rotulo') + podcast.created_at.strftime("%d/%m/%Y"), :class => "agenda_nome") %>
			<%= content_tag :div, render123_tags(podcast.tags.gsub(" ", ",")), :class => "tags" %>
			<%= link_to "Ouvir no Soundcloud", podcast.soundcloud_url, {:class => 'btn btn-default', :target => :blank} %>
			<%= link_to "Ouvir no iTunes", podcast.itunes_url, {:class => 'btn btn-default', :target => :blank} if !podcast.itunes_url.blank? %>
			<%= link_to "Ouvir no iTunes", @cocoaheads_itunes, {:class => 'btn btn-default', :target => :blank} if podcast.itunes_url.blank? %>
		</div>
		<div class="brclear">&nbsp;</div>
	</div>
	<div class="brclear">&nbsp;</div>
	<%= will_paginate @podcasts if @podcasts.count > WillPaginate.per_page %>
<% end %>
<% else %>
	<div class="zero-videos">Nenhum podcast publicado. Aguarde. <span class="smile">;)</span></div>
<% end %>
</div>