<% agendas = Agenda.por_data.publicadas %>
<% agendas.each do |a| %>
	<div class="agenda">
		<div><span class="data"><%= a.data.strftime("%d/%m/%Y") %></span> - <span class="capitulo"><%= a.descritivo_curto %></span></div>
		<div><span class="nome"><%= link_to a.nome, {:controller => :agendas, :action => :detalhes, :id => a.id} %></span></div>
		<div><span class="horario"><%= a.horario %></span> @ <span class="local"><%= a.local %></span></div>
		<ul class="recursos">
			<%= content_tag :li do -%>
				[ <%= link_to "Info", {:controller => :agendas, :action => :detalhes, :id => a.id} %> ]
			<% end -%>
			<%= content_tag :li do -%>
				[ <%= link_to "Maps", {:controller => :agendas, :action => :maps, :id => a.id} %> ]
			<% end -%>

			<%= content_tag :li do -%>
				[ <%= link_to "Passbook", a.passbook, {:target => :blank} %> ]
			<% end if !a.passbook.empty? -%>

			<%= content_tag :li do -%>
				[ <%= link_to "Meetup", a.meetup, {:target => :blank} %> ]
			<% end if !a.meetup.blank? -%>

			<%= content_tag :li do -%>
				[ <%= link_to "iCal", {:controller => :agendas, :action => 'export', :format => 'ics', :id => a.id}, :title => "Exportar ICS" %> ]
			<% end -%>
		</ul>
	</div>
<% end %>