		<% keywords = "iBeacon, iBeacons, Apple, Apple iBeacon, iBeacon Apple, ble mini, iBeacon app, simulate iBeacon, microlocation, iOS, iOS 7, Bluetooth, Bluetooth LE, Bluetooth Smart, Bluetooth 4.0, BTLE, CoreLocation, XCode, Development, Retail, Store, User experience, apps, smartphone, AppStore, MacAppStore, OSX, Mavericks‎, 10.9, Beacon" %>
		<title>BeaconToolbox | <%= page_title || keywords %></title>
		<meta name="application-name" content="Beacon Toolbox">
		<meta name="description" content="Website of the BeaconToolbox iOS App">
		<meta name="keywords" content="<%= keywords %>">
		<meta name="author" content="George Villasboas">
		<meta name="apple-itunes-app" content="app-id=802723889, affiliate-data=myAffiliateData, app-argument=myURL">
	    <meta name="twitter:card" content="app">
	   	<meta name="twitter:description" content=
	    "Discover, manage, track, debug, simulate and everything iBeacon related in a easy and fun way.">
	    <meta name="twitter:app:id:iphone" content="802723889">
	    <meta name="twitter:app:id:ipad" content="802723889">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<%= stylesheet_link_tag "application", media: "all" %>
		<%= stylesheet_link_tag('http://fonts.googleapis.com/css?family=Nunito', :type => 'text/css', :media => nil) %>
		<%= stylesheet_link_tag('http://fonts.googleapis.com/css?family=Patrick+Hand', :type => 'text/css', :media => nil) %>
		<%= favicon_link_tag 'favicon.png', type: 'image/png' %>
		<%= csrf_meta_tags %>