	            <div id="icons">
	                <%= link_to "&#xe796;".html_safe, "http://www.apple.com/stevejobs/", {:target => :blank} %>
	                <%= link_to image_tag("youtube.png", :size => '27x27', :style => 'vertical-align: top;'), Cocoaheads::Application::COCOAHEADS_SOCIAL_YOUTUBE, {:target => :blank} %>
	                <%= link_to "&#xe76c;".html_safe, Cocoaheads::Application::COCOAHEADS_SOCIAL_INSTAGRAM, {:target => :blank} %>
	                <%= link_to "&#xe76a;".html_safe, Cocoaheads::Application::COCOAHEADS_SOCIAL_FACEBOOK, {:target => :blank} %>
	                <%= link_to "&#xe76e;".html_safe, Cocoaheads::Application::COCOAHEADS_SOCIAL_TWITTER, {:target => :blank} %>
	                <%= link_to "&#xe78a;".html_safe, Cocoaheads::Application::COCOAHEADS_SOCIAL_GITHUB, {:target => :blank} %>

	            </div>