<!DOCTYPE html>
<html>
	<head>
		<title>BeaconToolbox | <%= @page_title || "Backend" %></title>
		<%= stylesheet_link_tag "admin/admin", media: "all" %>
		<%= javascript_include_tag "tinymce" %>
		<%= favicon_link_tag 'favicon.png', type: 'image/png' %>
		<%= csrf_meta_tags %>
	</head>

	<% if params[:controller] == 'access' && params[:action] == 'login' %>
	<% ####################### Login screen %>
	<body class="login">
		<%= bootstrap_flash %>
		<%= yield %>
	<% else %>
	<% ####################### Other screens %>
	<body class="admin">
		<%= render(:partial => "layouts/admin/menu_admin") %>
		<%= bootstrap_flash %>
		<% if params[:controller] == 'access' && params[:action] == 'index' %>
		<%= yield %>
		<% else %>
		<div class="container">
			<%= yield %>
		</div>
		<% end %>
	<% end %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "admin" %>
	</body>
</html>