<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => "layouts/header", :locals => {:page_title => @page_title} %>
	</head>
	<body>
		<div id="holder">
	    	<div id="content_home_left">&nbsp;</div>
	        <div id="content_home_right">
	            <div id="icons">
	                <%= link_to "&#xe796;".html_safe, "http://www.apple.com/stevejobs/", {:target => :blank} %>
	                <%= link_to "&#xe76c;".html_safe, "http://instagram.com/cocoaheadsbr/", {:target => :blank} %>
	                <%= link_to "&#xe76a;".html_safe, "https://www.facebook.com/CocoaheadsBrasil/", {:target => :blank} %>
	                <%= link_to "&#xe76e;".html_safe, "https://twitter.com/cocoaheadsbr/", {:target => :blank} %>
	                <%= link_to "&#xe78a;".html_safe, "https://github.com/cocoaheadsbr/", {:target => :blank} %>
	            </div>
	            <div id="content_home_right_agenda">&nbsp;</div>
	            <div id="appstore"><%= image_tag "appstore.png", {:size => '94x28', :title => "App Store", :alt => 'App Store'} %></div>
	            <div id="footer_content_home_right"><p style="font-weight:bold">CocoaHeads Brasil &copy;<%= Time.new.year %></p>
	            <p>Exceto quando indicado, o conteúdo deste website &eacute; licenciado sob a CC 3.0<br />
				   CocoaHeads Brasil &eacute; integrante do grupo internacional CocoaHeads.org.</p>
				</div>
	        </div>
	    </div>
		<div id="footer_geral">
	        <div id="line_footer">&nbsp;</div>
	        <div id="footer">&nbsp;</div>
	      <div id="footer_conteudo">
	        	<div id="footer_menu">&nbsp;</div>
	            <div id="creativecommons"><%= image_tag "creativecommons.png", {:size => "92x32", :alt => 'Creative Commons', :title => 'Creative Commons'} %></div>
	        </div>
	    </div>
		<%= javascript_include_tag "application" %>
		<%= render :partial => "layouts/analytics" %>
	</body>
</html>