<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => "/layouts/header", :locals => {:page_title => @page_title} %>
        <%= render :partial => "layouts/maps" %>
	</head>
    <body class="interna fullscreen">
        <div id="holder">
            <div id="icons-social-responsive">
                <%= render(:partial => "layouts/social") %>
            </div>
            <header>
                <div id="titulo">
                    <h1 class="titulo"><%= link_to "CocoaHeads", root_url %></h1>
                    <h2 class="titulo"><%= link_to "Brasil", root_url %> <%= link_to image_tag("brasil.png", {:size => '36x24', :alt => 'Brasil', :class => 'flag'}), root_url %></h2>
                </div>
                <div id="social">
                    <%= render(:partial => "layouts/social") %>
                </div>
            </header>

            <article>
                <% if @titulo.length %>
                <h1><%= @titulo %></h1>
                <% if @subtitulo.length %>
                    <h3><%= @subtitulo %></h3>
                <% end %>
                <% end %>
                <%= yield %>
                <a class="voltar_interna" href="javascript:history.back();">Voltar</a>
            </article>

            <footer>
                <%= render(:partial => "layouts/copyright") %>
            </footer>
        </div>
        <div class="brclear">&nbsp;</div>
        <%= render(:partial => "layouts/footer") %>
		<%= javascript_include_tag "application" %>
        <%= render :partial => "layouts/analytics" %>
    </script>
	</body>
</html>