<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => "/layouts/header", :locals => {:page_title => @page_title} %>
	</head>
    <body class="interna">
        <div id="holder">
            <div id="content">
                <div id="titulo">
                    <h1>CocoaHeads</h1>
                    <h2>Brasil<img alt="Brasil" class="flag" height="24" src="/assets/brasil.png" width="36"></h2>
                </div>
                <div id="content_interna_left">
                <% if !@titulo.blank? %>
                <h1><%= @titulo %></h1>
                <% if @subtitulo.length %>
                    <h3><%= @subtitulo %></h3>
                <% end %>
                <% end %>
                    <%= yield %>
                    <a class="voltar_interna" href="javascript:history.back();">Voltar</a>
                </div>
            </div>
            <div id="content_interna_right">
                <%= render(:partial => "layouts/social") %>
                <div id="agenda">
                    <h1>Agenda</h1>
                    <div class="agendas">
                        <%= render :partial => "layouts/agenda" %>
                    </div>
                </div>
                <div id="appstore"><%= image_tag "appstore.png", {:size => '94x28', :title => "App Store", :alt => 'App Store'} %></div>
                <%= render(:partial => "layouts/copyright") %>
            </div>
        </div>
        <div class="brclear">&nbsp;</div>
        <%= render(:partial => "layouts/footer") %>
		<%= javascript_include_tag "application" %>
        <%= render :partial => "layouts/analytics" %>
	</body>
</html>