<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => "/layouts/header", :locals => {:page_title => @page_title} %>
	</head>
    <body class="interna">
        <div id="holder">
            <div id="content">
                <div id="titulo">
                    <h1>CocoaHeads</h1>
                    <h2>Brasil<img alt="Brasil" class="flag" height="24" src="/assets/brasil.png" width="36"></h2>
                </div>
                <div id="content_interna_left">
                    <%= yield %>
                </div>
            </div>
            <div id="content_interna_right">
                <%= render(:partial => "layouts/social") %>
                <div id="agenda">
                    <h1>Agenda</h1>
                    <div class="agendas">
                        <div class="agenda">
                            <div><span class="data">09/05/2014</span> - <span class="capitulo">CocoaHeads Goi&acirc;nia</span></div>
                            <div><span class="horario">19hs</span> @ <span class="local">Flamboyant Shopping Center</span></div>
                            <ul class="recursos">
                                <li>[ <%= link_to "Maps", "#" %> ]</li>
                                <li>[ <%= link_to "Passbook", "#" %> ]</li>
                                <li>[ <%= link_to "iCal", "#" %> ]</li>
                            </ul>
                        </div>

                        <div class="agenda">
                            <div><span class="data">09/05/2014</span> - <span class="capitulo">CocoaHeads Goi&acirc;nia</span></div>
                            <div><span class="horario">19hs</span> @ <span class="local">Flamboyant Shopping Center</span></div>
                            <ul class="recursos">
                                <li>[ <%= link_to "Maps", "#" %> ]</li>
                                <li>[ <%= link_to "Passbook", "#" %> ]</li>
                                <li>[ <%= link_to "iCal", "#" %> ]</li>
                            </ul>
                        </div>

                        <div class="agenda">
                            <div><span class="data">09/05/2014</span> - <span class="capitulo">CocoaHeads Goi&acirc;nia</span></div>
                            <div><span class="horario">19hs</span> @ <span class="local">Flamboyant Shopping Center</span></div>
                            <ul class="recursos">
                                <li>[ <%= link_to "Maps", "#" %> ]</li>
                                <li>[ <%= link_to "Passbook", "#" %> ]</li>
                                <li>[ <%= link_to "iCal", "#" %> ]</li>
                            </ul>
                        </div>

                        <div class="agenda">
                            <div><span class="data">09/05/2014</span> - <span class="capitulo">CocoaHeads Goi&acirc;nia</span></div>
                            <div><span class="horario">19hs</span> @ <span class="local">Flamboyant Shopping Center</span></div>
                            <ul class="recursos">
                                <li>[ <%= link_to "Maps", "#" %> ]</li>
                                <li>[ <%= link_to "Passbook", "#" %> ]</li>
                                <li>[ <%= link_to "iCal", "#" %> ]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="appstore"><%= image_tag "appstore.png", {:size => '94x28', :title => "App Store", :alt => 'App Store'} %></div>
                <%= render(:partial => "layouts/copyright") %>
            </div>
        </div>
        <div class="brclear">&nbsp;</div>
        <%= render(:partial => "layouts/footer") %>
		<%= javascript_include_tag "application" %>
        <%= render :partial => "layouts/analytics" %>
	</body>
</html>